:root {
  --normal: 400;
  --bold: 700;
  --semi-bold: 600;
  --primary: #151d27;
  --background: #f3f3f3;
  --secondary: #678dbf;
  --white: #ffffff;
  --radius: 8px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: #f5f5f5;
}
