@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normal: 400;
  --bold: 700;
  --semi-bold: 600;
  --small: 12px;
  --primary: #000000;
  --background: #fafafa;
  --secondary: #678dbf;
  --white: #ffffff;
  --radius: 8px;
  --shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
@layer base {
  :root {
    --color-primary: var(--primary);
    --nextui-primary: var(--primary);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
