:root {
  --normal: 400;
  --bold: 700;
  --semi-bold: 600;
  --primary: #151d27;
  --background: #e3e3e3;
  --secondary: #678dbf;
  --white: #ffffff;
  --radius: 8px;
  --shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  /* color: #f5f5f5; */
}
